{% extends 'base.html' %}

{% block mainmenu %}
    <main>
        <nav class="navbar navbar-expand-sm  shadow-sm  bg-body-tertiary rounded px-md-1 px-lg-6">
            <div class="container-fluid justify-content-around flex-nowrap">
                <form class="d-flex col-md-5" role="search" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field }}
                        <button class="btn btn-outline-success" type="submit">Поиск</button>
                    {% endfor %}
                </form>
                <form class="d-flex xl" role="search" method="post" action="{% url 'users:register' %}">
                    {% csrf_token %}
                    <button class="btn btn-outline-secondary-while " type="submit">Войти</button>
                    <div class="collapse navbar-collapse">
                    </div>
                </form>
            </div>
        </nav>
    </main>
{% endblock mainmenu %}

{% block content %}
    <p></p>
    Тут результаты поиска локаций будут

    <div class="row row-cols-1 row-cols-xs-1 row-cols-md-2 row-cols-lg-4 g-4 h-100">
        {% for city in cities %}
            <div class="col">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ city }}</h5>
                        <p class="card-text">Это более длинная карта С вспомогательным текстом ниже в качестве
                            естественного перехода к дополнительному контенту. Этот контент немного длиннее.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}
