{% extends 'base.html' %}

{% block mainmenu %}
    <main>
        <nav class="navbar navbar-expand-sm  shadow-sm  bg-body-tertiary rounded px-md-1 px-lg-6">
            <div class="container-fluid justify-content-around flex-nowrap">
                <form class="d-flex col-md-5" method="post" action="{% url 'locations:search' %}">
                    {% for field in form %}
                        {% csrf_token %}
                        {{ field }}
                        <button class="btn btn-outline-primary" type="submit">Поиск</button>
                    {% endfor %}
                </form>
                <div class="d-flex flex-row justify-content-between text-center">
                    {% if user.is_authenticated %}
                        <form class="d-flex p-1" action="">
                            <button class="btn ">{{ user.username }}</button>
                        </form>
                        <form class="d-flex p-1" action="{% url 'users:logout' %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-outline-primary ">Выйти</button>
                        </form>
                    {% else %}
                        <form class="d-flex p-1" action="{% url 'users:login' %}">
                            <button class="btn btn-outline-primary">Войти</button>
                        </form>
                        <form class="d-flex p-1" action="{% url 'users:register' %}">
                            <button class="btn btn-outline-primary ">Регистрация</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </nav>
    </main>
{% endblock mainmenu %}

{% block content %}
    <p></p>
    Тут результаты добавления локаций

    <div class="row row-cols-1 row-cols-xs-1 row-cols-md-2 row-cols-lg-4 g-4 h-100">
        {% for city in cities %}
            <div class="col">
                <div class="card">
                    <form class="d-flex flex-row-reverse" method="post" action="{% url 'locations:index' %}">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ city.id }}">
                        <button name="delete" class="btn-close"></button>
                    </form>
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ city.name }}</h5>
                        <h6 class="card-title">Температура: {{ city.temp }}</h6>
                        <h6 class="card-title">Ощущается: {{ city.feels_like }}</h6>
                        <h6 class="card-title">Ветер: {{ city.gust }}</h6>
                        <p class="card-text">Код страны: {{ city.country }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}
