{% extends 'base.html' %}

{% block content %}
   <p></p>
    <div class="container col-md-4">
        <h2>Изменение пароля</h2>
        <form class="" method="post">
            {% csrf_token %}
            <div class="form-error">{{ form.non_field_errors }}</div>
            {% for field in form %}
                <p><label class="" for="{{ field.id_for_label }}">{{ field.label }}: </label>{{ field }}</p>
                {% if form.errors %}<p>{{ field.errors|first }}</p>{% endif %}
            {% endfor %}
            <form class="d-flex p-1"  action="{% url 'locations:index' %}">
                    <button class="btn btn-outline-primary btn-lg px-4">Изменить пароль</button>
                </form>
        </form>
    </div>
{% endblock content %}