{% extends 'base.html' %}

{% block content %}
    <p></p>
    <div class="container col-md-4">
        <h2>Регистрация</h2>
        <form class="" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <div class="form-error">{{ form.non_field_errors }}</div>
            {% for field in form %}
                <p><label class="" for="{{ field.id_for_label }}">{{ field.label }}: </label>{{ field }}</p>
                {% if form.errors %}<p>{{ field.errors }}</p>{% endif %}
            {% endfor %}

            <button class="btn btn-outline-primary" type="submit">Регистрация</button>
        </form>
    </div>
{% endblock content %}